footer{ 
padding: 10px 10px 0px 10px;
background-color: gray;
margin: 15px 0px 0px 0px;
}
.btn{
	g 
	width:100%;

}
.card-htel{
	background-color: #A6FCDB;
	flex: 1 150px;
	margin: 10px 10px 10px 10px
}
.jumbotron{
	margin-top:20px;
	background-color: #48FD42
}
#htel1{
	width: 100%;
	height: 40rem;
}
#cardhtl{
	width: 100%;
	height: auto;
}